        body {
            background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='120' height='50' patternTransform='scale(5) rotate(45)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(240, 6.7%, 17.600000000000005%, 1)'/><path d='M-50.129 12.685C-33.346 12.358-16.786 4.918 0 5c16.787.082 43.213 10 60 10s43.213-9.918 60-10c16.786-.082 33.346 7.358 50.129 7.685'  stroke-width='0.5' stroke='hsla(226.6071428571429, 100%, 56.07843137254902%, 1)' fill='none'/><path d='M-50.129 32.685C-33.346 32.358-16.786 24.918 0 25c16.787.082 43.213 10 60 10s43.213-9.918 60-10c16.786-.082 33.346 7.358 50.129 7.685'  stroke-width='0.5' stroke='hsla(180, 100%, 50%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-170,-545)' fill='url(%23a)'/></svg>");
            color: #e0e0e0;
        }

        .container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
            gap: 50px;
            padding: 1rem;
        }

        .card {
            background: #2b2b2b;
            box-shadow: 0 1px 3px rgba(255, 255, 255, 0.12), 0 1px 2px rgba(255, 255, 255, 0.24);
            width: 190px;
            height: 320px;
            padding: 0.8em;
            position: relative;
            overflow: visible;
            border-radius: 0.5rem;
            transition: transform 0.3s ease;
        }

        .card:hover {
            transform: translateY(-10px);
        }

        .card-img {
            height: 40%;
            width: 100%;
            border-radius: 0.5rem;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s ease;
        }

        .card-img img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            border-radius: 0.5rem;
        }

        .card-info {
            padding-top: 10%;
        }

        .card-footer {
            border-top: 1px solid #444;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 10px;
        }

        .text-title {
            color: #ffffff;
            font-weight: 900;
            font-size: 1.2em;
            line-height: 1.5;
        }

        .text-body {
            color: #a6a6a6;
            font-size: 0.9em;
            padding-bottom: 10px;
        }

        .card-img:hover {
            transform: translateY(-25%);
            filter: brightness(50%);
        }

        @media (max-width: 600px) {
            .card {
                margin: auto;
                width: 75%;
            }
        }

        .button {
            margin: 25px;
            height: auto;
            background: transparent;
            padding: 0;
            border: none;
            cursor: pointer;
        }

        .navbar {
            background-color: #181818;
            width: 25%;
            padding-left: 10px;
            border-radius: 5rem;
            margin: auto;
        }

        .button {
            --border-right: 6px;
            --text-stroke-color: rgba(255, 255, 255, 0.8);
            --animation-color: #00ffff;
            --fs-size: 2em;
            letter-spacing: 3px;
            text-decoration: none;
            font-size: var(--fs-size);
            font-family: "Arial";
            position: relative;
            text-transform: uppercase;
            color: transparent;
            -webkit-text-stroke: 1px var(--text-stroke-color);
        }

        .hover-text {
            position: absolute;
            box-sizing: border-box;
            content: attr(data-text);
            color: var(--animation-color);
            width: 0%;
            inset: 0;
            border-right: var(--border-right) solid var(--animation-color);
            overflow: hidden;
            transition: 0.5s;
            -webkit-text-stroke: 1px var(--animation-color);
        }

        .button:hover .hover-text {
            width: 100%;
            filter: drop-shadow(0 0 23px var(--animation-color))
        }

        .elegante-button {
            padding: 15px 30px;
            margin: auto;
            border: 2px solid #2c2c2c;
            background-color: #1a1a1a;
            color: #ffffff;
            font-size: 13px;
            cursor: crosshair;
            border-radius: 30px;
            transition: all 0.4s ease;
            outline: none;
            position: relative;
            overflow: hidden;
            font-weight: bold;
        }

        .elegante-button::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: radial-gradient(circle,
                    rgba(255, 255, 255, 0.25) 0%,
                    rgba(255, 255, 255, 0) 70%);
            transform: scale(0);
            transition: transform 0.5s ease;
        }

        .elegante-button:hover::after {
            transform: scale(4);
        }

        .elegante-button:hover {
            border-color: #666666;
            background: #292929;
        }