#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 400px;
}

input {
    background-color: #1B1B1B;
    padding: 10px;
    margin: 5px 0;
    height: 35px;
    width: 215px;
    color: white;
    border-color: transparent;
    border-radius: 5px;
}

input:focus {
    border: 1px solid #FF976C;
}

#login-form button {
    text-align: center;
    padding: 0 0 0 2px;
    height: 35px;
    width: 35px;
    color: white;
    font-size: 32px;
    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 512px;
}