#grid-container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    background-color: #F2F1EF;
    height: auto;
    margin-top: 100px;
    border-radius: 25px 25px 0 0;
}

#grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    row-gap: 70px;
    margin-bottom: 50px;
}

.icon-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.material-symbols-outlined {
    font-size: 48px;
    cursor: pointer;
    padding-bottom: 20px;
}

#top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    background: #545454;
    background: linear-gradient(180deg, rgba(84, 84, 84, 1) 0%, rgba(38, 38, 38, 1) 100%);
    border-radius: 10px 10px 0 0;
    color: lightgray;
    font-weight: 300;
    font-size: 18px;
}

#top-bar button {
    margin: 0 20px;
    border-radius: 10px;
    border: 1px solid black;
    width: 60px;
    height: 35px;
}

#done-button {
    background: #44cf59;
    background: linear-gradient(180deg, rgba(68, 207, 89, 1) 0%, rgba(61, 153, 73, 1) 100%);
    color: white;
    font-weight: 500;
}

#back-button {
    background: #545454;
    background: linear-gradient(180deg, rgba(84, 84, 84, 1) 0%, rgba(38, 38, 38, 1) 100%);
    color: lightgray;
    font-weight: 500;
}

#inner-title {
    padding: 30px 45px;
    font-size: 36px;
    font-weight: 600;
    color: rgb(70, 70, 70);
}

#inner-title p {
    font-size: 18px;
    font-weight: 500;
    color: rgb(70, 70, 70);
    padding: 10px 0 0 5px;
}