* {
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: rgb(83, 83, 83);
}

::-webkit-scrollbar {
    display: none;
}

#menu {
    display: flex;
    gap: 15px;
    margin-top: 250px;
}

button {
    background-color: lightblue;
    border: 1px solid white;
    border-radius: 512px;
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: 600;
}

#runInfo {
    border: 1px solid white;
    background-color: darkslategray;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 18px;
    z-index: 9999;
}

#player {
    position: absolute;
    transform-origin: center;
    width: 75px;
    height: 175px;
}

#enemy {
    position: absolute;
    width: 75px;
    height: 175px;
}

#bullet {
    position: absolute;
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 512px;
    z-index: -9999;
}

#shop, #ready {
    position: absolute;
    top: 50%;
    width: 75px;
    height: 75px;
    font-size: 20px;
    color: white;
    text-align: center;
}

#shop {
    background-color: darkgoldenrod;
    right: 150px;
}

#ready {
    background-color: green;
    left: 150px;
}