body {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: rgb(2, 0, 33);
}

#start {
    background-color: lightblue;
    border: 1px solid white;
    border-radius: 512px;
    padding: 0 15px;
    font-size: 18px;
    position: absolute;
    top: 30%;
    left: 50%;
}

#player {
    position: absolute;
    transform-origin: center;
    width: 250px;
    height: 250px;
}

#enemy {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: red;
}