* {
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: rgb(83, 83, 83);
}

::-webkit-scrollbar {
    display: none;
}

#menu {
    display: flex;
    gap: 15px;
    margin-top: 250px;
}

button {
    background-color: lightblue;
    border: 1px solid white;
    border-radius: 512px;
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: 600;
}

#runInfo {
    border: 1px solid white;
    background-color: darkslategray;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 18px;
    z-index: 9999;
}

#mask {
    display: none;
    position: absolute;
    top: 250px;
}

#shopMenu {
    background-color: gray;
    padding: 15px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 310px;
}

#itemContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#itemImage {
    width: 75px;
    height: 75px;
}

#buyButton {
    width: 60px;
    height: 25px;
    margin: 10px 0;
}

#inventory {
    display: flex;
    flex-direction: row;
    position: absolute;
    gap: 15px;
    bottom: 50px;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    visibility: hidden;
}

#player {
    position: absolute;
    transform-origin: center;
    width: 75px;
    height: 175px;
}

#boss {
    position: absolute;
    width: 120px;
    height: 205px;
}

#enemy {
    position: absolute;
    width: 75px;
    height: 175px;
}

#bullet {
    position: absolute;
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 512px;
    z-index: -9999;
}

#shop,
#ready {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    width: 75px;
    height: 75px;
    font-size: 20px;
    color: white;
    border: 1px dashed white;
    border-radius: 30px;
    text-align: center;
    z-index: -9999;
}

#shop {
    background-color: darkgoldenrod;
    right: 150px;
}

#ready {
    background-color: green;
    left: 150px;
}