body {
    background-color: rgb(14, 14, 14);
    font-family: "Afacad Flux", sans-serif;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    column-gap: 50px;
}

.list {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    background-color: #2b2b2b;
    border-radius: 1rem;
    margin: 50px auto;
    padding: 2rem;
    display: grid;
    width: auto;
    gap: 45px;
}

.card {
    max-width: 200px;
    min-width: 200px;
    max-height: 400px;
    max-height: 400px;
    background: #2b2b2b;
    position: relative;
    overflow: visible;
    border-radius: 0.5rem;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    background-color: #363636;
}

.card-img {
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}

.card-img img {
    max-width: 150px;
    min-width: 120px;
    max-height: 400px;
    max-height: 400px;
    object-fit: cover;
    border-radius: 512px;
}

.card-info {
    padding-top: 10%;
}

.card-footer {
    border-top: 1px solid #444;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.text-title {
    color: #ffffff;
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
}

.text-body {
    color: #a6a6a6;
    font-size: 0.9em;
    padding-bottom: 10px;
}

.card-img:hover {
    transform: translateY(-5%);
    filter: brightness(50%);
}


.button {
    margin-top: 50px;
    margin-left: 25px;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

.button {
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255, 0.8);
    --animation-color: #00ffff;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

.button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}

@media (max-width: 990px) {
    .list {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        } 
}

@media (max-width: 780px) {
    .list {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        } 
}

@media (max-width: 520px) {
    .list {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
        } 
}

@media (max-width: 250px) {
    .list {
        grid-template-columns: repeat(1, minmax(100px, 1fr));
        width: auto;
        margin: 50px auto;
        padding: 0;
        } 
    .navbar {
        display: none;
    }

    .card-img img {
        width: 100px;
        height: 120px;
        object-fit: cover;
        border-radius: 512px;
    }
}
