/* Style Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* 1ST Navbar */
  
  .nav1 {
    background-color: #14213d;
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    font-family: "Caveat", cursive;
  }
  
  .nav-list {
    list-style-type: none;
  }
  
  .nav-list .list-item {
    display: inline-block;
    padding: 20px 15px;
  }
  
  .nav1 .items {
    font-size: 20px;
    text-decoration: none;
    background-color: white;
    color: #fca311;
    padding: 8px 20px;
    border-radius: 15px;
    font-weight: 600;
  }
  
  .items:hover {
    background-color: #fca311;
    color: white;
    transition: background 0.5s;
  }
  
  .logo {
    width: 50px;
    padding-top: 7px;
    margin-left: 40px;
  }
  
  div h3 {
    color: white;
    font-size: 50px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }
  
  /* 2ND Navbar */
  
  .nav2 {
    background-color: #14213d;
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    font-family: "Caveat", cursive;
  }
  
  .nav2 a {
    color: white;
    font-size: 25px;
    text-decoration: none;
  }
  
  .nav2 a:hover {
    font-size: 30px;
    transition: 0.5s;
  }
  
  .nav-list {
    list-style-type: none;
  }
  
  .nav2 .items {
    text-decoration: none;
    color: white;
    font-weight: 600;
  }
  
  .icon {
    width: 65px;
    padding-top: 7px;
  }
  
  /* Body  */
  
  div p {
    font-size: 40px;
    font-family: "Caveat", cursive;
    font-weight: 600;
    color: black;
    margin: 150px;
    text-align: center;
  }
  
  div p a {
    color: #fca311;
    font-size: 36px;
    text-decoration: none;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }
  
  div p a:hover span {
    display: none;
  }
  
  div p a:hover:before {
    content: "Good Luck!";
  }
  
  .quote1 h3,
  .quote2 h3 {
    margin: 40px 0px 0px 0px;
    background-color: #14213d;
    text-align: center;
    font-size: 30px;
    font-family: "Caveat", cursive;
    font-weight: 600;
    color: white;
    padding: 10px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }
  
  .quote1 h6,
  .quote2 h6 {
    padding: 0px 40px 0px 0px;
  
    background-color: #14213d;
    text-align: end;
    font-size: 30px;
    font-family: "Caveat", cursive;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }
  
  /* Footer  */
  
  footer {
    background-color: #14213d;
    display: flex;
    justify-content: space-evenly;
    position: static;
    width: 100%;
    height: 170px;
    margin-top: 100px;
  }
  
  .footer-logo {
    width: 150px;
    padding: 20px;
  }
  
  .links {
    font-size: 50px;
    font-family: "Caveat", cursive;
    font-weight: 600;
    color: white;
  }
  
  h5 {
    display: inline-block;
    padding: 59px 40px;
  }
  
  /* Responsive  */
  
  @media all and (max-width: 480px) {
    .nav1 .items {
      font-size: 20px;
      padding: 4px 10px;
      border-radius: 15px;
      font-weight: 600;
    }
  }
  
  @media all and (max-width: 320px) {
    .nav1 .items {
      font-size: 20px;
      padding: 8px 20px;
      border-radius: 25px;
      font-weight: 600;
    }
  }